= render 'tab'
- @selected_list.each do |member_id, cards|
  .member_tasks
    .member_name
      = @member_by_id[member_id]
    .row
      .bs-docs-grid
        .show-grid
          - cards.each do |card|
            %div{ class: "span#{card[:time]} card_name"}
              / = link_to truncate(card[:name], length: 30), card[:url], target: '_blank'
              = link_to truncate(card[:name], length: 30), card_path(card[:id]), id: "card_#{card[:id]}"
            :javascript
              $(document).ready(
                $("#card_#{card[:id]}").colorbox({width: '300px', height: '300px', iframe:true, href: "/cards/#{card[:id]}"})
              )
